In [2]:
import pandas as pd
from pymongo import MongoClient
import json
from simpledbf import Dbf5

### LINKS TO DATASETS

https://www.kaggle.com/datasets/dhruvildave/ookla-internet-speed-dataset

https://www-app3.gfz-potsdam.de/kp_index/Kp_ap_since_1932.txt

### SOLAR DATA

In [6]:
df = pd.read_csv('/home/yasser/Desktop/mongodb/data/kpdata/data_mongodb.csv')
df

        #YYY  MM  DD  hh.h  hh._m    days   days_m     Kp  ap  D
0       1932   1   1   0.0    1.5   0.000   0.0625  3.333  18  1
1       1932   1   1   3.0    4.5   0.125   0.1875  2.667  12  1
2       1932   1   1   6.0    7.5   0.250   0.3125  2.333   9  1
3       1932   1   1   9.0   10.5   0.375   0.4375  2.667  12  1
4       1932   1   1  12.0   13.5   0.500   0.5625  3.333  18  1
...      ...  ..  ..   ...    ...     ...      ...    ...  .. ..
264451  2022   7   3   9.0   10.5  56.375  56.4375  1.333   5  0
264452  2022   7   3  12.0   13.5  56.500  56.5625  1.667   6  0
264453  2022   7   3  15.0   16.5  56.625  56.6875  1.000  -1  0
264454  2022   7   3  18.0   19.5  56.750  56.8125  1.000  -1  0
264455  2022   7   3  21.0   22.5  56.875  56.9375  1.000  -1  0

[264456 rows x 10 columns]

In [3]:
client = MongoClient('localhost', 27017)
db = client['project']

In [4]:
# show collections

for collection in db.list_collection_names():
    print(collection)

internetData
solarData

In [9]:
# TRANSFORM TO JSON

records = json.loads(df.T.to_json()).values()

In [10]:
# INSERT DATA

db.solarData.insert_many(records)

In [11]:
# show collections

for collection in db.list_collection_names():
    print(collection)

internetData
solarData

In [12]:
for i in db.solarData.find()[:10]:
    print(i)

{'_id': ObjectId('62cb3516d0eb9a592bc06b4e'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 1.0, 'hh.h': 0.0, 'hh._m': 1.5, 'days': 0.0, 'days_m': 0.0625, 'Kp': 3.333, 'ap': 18.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b4f'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 1.0, 'hh.h': 3.0, 'hh._m': 4.5, 'days': 0.125, 'days_m': 0.1875, 'Kp': 2.667, 'ap': 12.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b50'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 1.0, 'hh.h': 6.0, 'hh._m': 7.5, 'days': 0.25, 'days_m': 0.3125, 'Kp': 2.333, 'ap': 9.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b51'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 1.0, 'hh.h': 9.0, 'hh._m': 10.5, 'days': 0.375, 'days_m': 0.4375, 'Kp': 2.667, 'ap': 12.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b52'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 1.0, 'hh.h': 12.0, 'hh._m': 13.5, 'days': 0.5, 'days_m': 0.5625, 'Kp': 3.333, 'ap': 18.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b53'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 1.0, 'hh.h': 15.0, 'hh._m': 16.5, 'days': 0.625, 'days_m': 0.6875, 'Kp': 2.667, 'ap': 12.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b54'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 1.0, 'hh.h': 18.0, 'hh._m': 19.5, 'days': 0.75, 'days_m': 0.8125, 'Kp': 3.333, 'ap': 18.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b55'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 1.0, 'hh.h': 21.0, 'hh._m': 22.5, 'days': 0.875, 'days_m': 0.9375, 'Kp': 3.333, 'ap': 18.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b56'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 2.0, 'hh.h': 0.0, 'hh._m': 1.5, 'days': 1.0, 'days_m': 1.0625, 'Kp': 3.667, 'ap': 22.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b57'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 2.0, 'hh.h': 3.0, 'hh._m': 4.5, 'days': 1.125, 'days_m': 1.1875, 'Kp': 3.667, 'ap': 22.0, 'D': 1.0}

### INTERNET_DATA COLLECTION

### 2019

### Q4

In [ ]:
dbf = Dbf5('/home/yasser/Desktop/mongodb/data/internet_data/2019_Q4/gps_fixed_tiles.dbf')
df = dbf.to_dataframe()
df

In [ ]:
df = pd.read_csv('/home/yasser/Desktop/mongodb/data/internet_data/2019_Q4/gps_fixed_tiles.csv')
df

                  quadkey  avg_d_kbps  avg_u_kbps  avg_lat_ms  tests  devices
0        1233001311211132        1366        2670         148      2        1
1         302233203001130       66841       14428          16      9        7
2        1202331003213123       29640        8188          11     73       18
3        1202222203310201       87822       72288          16    145       50
4        1230231321100322       81507       36989           7    329       75
...                   ...         ...         ...         ...    ...      ...
6497473  1202020322122322        5457         800          57      1        1
6497474  2103111033101131        2960        2093         131      5        1
6497475   213003300102303       19776        4021          47      1        1
6497476  1202302122323211        6808         805          35      1        1
6497477  1320322132203321       38436       26346          26      5        1

[6497478 rows x 6 columns]

In [ ]:
df["year"] = "2019"
df["quarter"] = "Q4"
df.head()

,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,year,quarter
0,1233001311211132,1366,2670,148,2,1,2019,Q4
1,302233203001130,66841,14428,16,9,7,2019,Q4
2,1202331003213123,29640,8188,11,73,18,2019,Q4
3,1202222203310201,87822,72288,16,145,50,2019,Q4
4,1230231321100322,81507,36989,7,329,75,2019,Q4

In [4]:
client = MongoClient('localhost', 27017)
db = client['project']

In [ ]:
# show collections

for collection in db.list_collection_names():
    print(collection)

internetData
kpdata

In [ ]:
# Create a new collection

internetData = db.internetData

In [ ]:
records = json.loads(df.T.to_json()).values()

In [ ]:
# INSERT DATA

db.internetData.insert_many(records)

In [ ]:
# show collections

for collection in db.list_collection_names():
    print(collection)

internetData
kpdata

In [ ]:
for i in db.internetData.find()[:10]:
    print(i)

{'_id': ObjectId('62cb0b1d23802562df01925d'), 'quadkey': 1233001311211132, 'avg_d_kbps': 1366, 'avg_u_kbps': 2670, 'avg_lat_ms': 148, 'tests': 2, 'devices': 1, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df01925e'), 'quadkey': 302233203001130, 'avg_d_kbps': 66841, 'avg_u_kbps': 14428, 'avg_lat_ms': 16, 'tests': 9, 'devices': 7, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df01925f'), 'quadkey': 1202331003213123, 'avg_d_kbps': 29640, 'avg_u_kbps': 8188, 'avg_lat_ms': 11, 'tests': 73, 'devices': 18, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019260'), 'quadkey': 1202222203310201, 'avg_d_kbps': 87822, 'avg_u_kbps': 72288, 'avg_lat_ms': 16, 'tests': 145, 'devices': 50, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019261'), 'quadkey': 1230231321100322, 'avg_d_kbps': 81507, 'avg_u_kbps': 36989, 'avg_lat_ms': 7, 'tests': 329, 'devices': 75, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019262'), 'quadkey': 313131132333211, 'avg_d_kbps': 88027, 'avg_u_kbps': 14570, 'avg_lat_ms': 15, 'tests': 132, 'devices': 29, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019263'), 'quadkey': 1212011313021021, 'avg_d_kbps': 52635, 'avg_u_kbps': 70367, 'avg_lat_ms': 4, 'tests': 45, 'devices': 11, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019264'), 'quadkey': 1322101132232101, 'avg_d_kbps': 28434, 'avg_u_kbps': 30454, 'avg_lat_ms': 7, 'tests': 2, 'devices': 2, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019265'), 'quadkey': 2110012030231232, 'avg_d_kbps': 31759, 'avg_u_kbps': 26507, 'avg_lat_ms': 8, 'tests': 761, 'devices': 128, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019266'), 'quadkey': 233100032212231, 'avg_d_kbps': 35125, 'avg_u_kbps': 12790, 'avg_lat_ms': 29, 'tests': 332, 'devices': 39, 'year': '2019', 'quarter': 'Q4'}

### Q2

In [5]:
# dbf = Dbf5('/home/yasser/Desktop/mongodb/data/internet_data/2019/Q2/gps_fixed_tiles.dbf')
# df = dbf.to_dataframe()

In [3]:
# df.to_csv('/home/yasser/Desktop/mongodb/data/internet_data/2019/Q2/gps_fixed_tiles.csv')

In [4]:
# del(df)

In [13]:
df = pd.read_csv('/home/yasser/Desktop/mongodb/data/internet_data/2019/Q2/gps_fixed_tiles.csv')
df

,Unnamed: 0,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices
0,0,3112231122203110,37621,18081,13,105,35
1,1,231123033301330,165881,30946,10,71,5
2,2,231033130220100,158905,142679,14,8,6
3,3,233102110002012,25166,5245,54,351,42
4,4,231322223022233,19321,6858,47,110,21
...,...,...,...,...,...,...,...
4857530,4857530,313310112001012,6394,16862,47,1,1
4857531,4857531,302222221230222,6989,3873,16,1,1
4857532,4857532,1230230230001100,43289,13155,4,1,1
4857533,4857533,213012022330221,22846,2002,34,1,1
4857534,4857534,1202032313020013,9220,2890,31,1,1

In [14]:
df["year"] = "2019"
df["quarter"] = "Q2"
df.head()

,Unnamed: 0,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,year,quarter
0,0,3112231122203110,37621,18081,13,105,35,2019,Q2
1,1,231123033301330,165881,30946,10,71,5,2019,Q2
2,2,231033130220100,158905,142679,14,8,6,2019,Q2
3,3,233102110002012,25166,5245,54,351,42,2019,Q2
4,4,231322223022233,19321,6858,47,110,21,2019,Q2

In [2]:
client = MongoClient('localhost', 27017)
db = client['project']

In [5]:
# show collections

for collection in db.list_collection_names():
    print(collection)

internetData
solarData

In [15]:
records = json.loads(df.T.to_json()).values()

In [16]:
# INSERT DATA

db.internetData.insert_many(records)

In [17]:
# show collections

for collection in db.list_collection_names():
    print(collection)

internetData
solarData

In [18]:
for i in db.solarData.find()[:10]:
    print(i)

{'_id': ObjectId('62cb3516d0eb9a592bc06b4e'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 1.0, 'hh.h': 0.0, 'hh._m': 1.5, 'days': 0.0, 'days_m': 0.0625, 'Kp': 3.333, 'ap': 18.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b4f'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 1.0, 'hh.h': 3.0, 'hh._m': 4.5, 'days': 0.125, 'days_m': 0.1875, 'Kp': 2.667, 'ap': 12.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b50'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 1.0, 'hh.h': 6.0, 'hh._m': 7.5, 'days': 0.25, 'days_m': 0.3125, 'Kp': 2.333, 'ap': 9.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b51'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 1.0, 'hh.h': 9.0, 'hh._m': 10.5, 'days': 0.375, 'days_m': 0.4375, 'Kp': 2.667, 'ap': 12.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b52'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 1.0, 'hh.h': 12.0, 'hh._m': 13.5, 'days': 0.5, 'days_m': 0.5625, 'Kp': 3.333, 'ap': 18.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b53'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 1.0, 'hh.h': 15.0, 'hh._m': 16.5, 'days': 0.625, 'days_m': 0.6875, 'Kp': 2.667, 'ap': 12.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b54'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 1.0, 'hh.h': 18.0, 'hh._m': 19.5, 'days': 0.75, 'days_m': 0.8125, 'Kp': 3.333, 'ap': 18.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b55'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 1.0, 'hh.h': 21.0, 'hh._m': 22.5, 'days': 0.875, 'days_m': 0.9375, 'Kp': 3.333, 'ap': 18.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b56'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 2.0, 'hh.h': 0.0, 'hh._m': 1.5, 'days': 1.0, 'days_m': 1.0625, 'Kp': 3.667, 'ap': 22.0, 'D': 1.0}
{'_id': ObjectId('62cb3516d0eb9a592bc06b57'), '#YYY': 1932.0, 'MM': 1.0, 'DD': 2.0, 'hh.h': 3.0, 'hh._m': 4.5, 'days': 1.125, 'days_m': 1.1875, 'Kp': 3.667, 'ap': 22.0, 'D': 1.0}

### 2021

### Q4

In [ ]:
# dbf = Dbf5('/home/yasser/Desktop/mongodb/data/internet_data/2021_Q4/gps_fixed_tiles.dbf')
# df = dbf.to_dataframe()
# df

In [ ]:
df = pd.read_csv('/home/yasser/Desktop/mongodb/data/internet_data/2021_Q4/gps_fixed_tiles.csv')
df

                  quadkey  avg_d_kbps  avg_u_kbps  avg_lat_ms  tests  devices
0         231320210123321       74046       32753           6    242       89
1        1230233010101330      328943      187567           3    311      126
2        1200212220023121      251162      210434           3      4        2
3        2103111212110230      133577       48315          10    115       40
4         331103312103120      245009      190036          15      2        2
...                   ...         ...         ...         ...    ...      ...
6699834  2101113131322130        5853       10442           2      1        1
6699835   303301203232311      347506       16393          36      1        1
6699836   322113020330111       19728        3020           2      1        1
6699837  1321021202002001      151870       33688          24      1        1
6699838  3101020223230012        2581         730          18      1        1

[6699839 rows x 6 columns]

In [ ]:
df["year"] = "2021"
df["quarter"] = "Q4"
df.head()

,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,year,quarter
0,231320210123321,74046,32753,6,242,89,2021,Q4
1,1230233010101330,328943,187567,3,311,126,2021,Q4
2,1200212220023121,251162,210434,3,4,2,2021,Q4
3,2103111212110230,133577,48315,10,115,40,2021,Q4
4,331103312103120,245009,190036,15,2,2,2021,Q4

In [ ]:
# show collections

for collection in db.list_collection_names():
    print(collection)

internetData
kpdata

In [ ]:
records = json.loads(df.T.to_json()).values()

In [ ]:
# INSERT DATA

db.internetData.insert_many(records)

In [ ]:
# show collections

for collection in db.list_collection_names():
    print(collection)

internetData
kpdata

In [ ]:
for i in db.internetData.find()[:10]:
    print(i)

{'_id': ObjectId('62cb0b1d23802562df01925d'), 'quadkey': 1233001311211132, 'avg_d_kbps': 1366, 'avg_u_kbps': 2670, 'avg_lat_ms': 148, 'tests': 2, 'devices': 1, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df01925e'), 'quadkey': 302233203001130, 'avg_d_kbps': 66841, 'avg_u_kbps': 14428, 'avg_lat_ms': 16, 'tests': 9, 'devices': 7, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df01925f'), 'quadkey': 1202331003213123, 'avg_d_kbps': 29640, 'avg_u_kbps': 8188, 'avg_lat_ms': 11, 'tests': 73, 'devices': 18, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019260'), 'quadkey': 1202222203310201, 'avg_d_kbps': 87822, 'avg_u_kbps': 72288, 'avg_lat_ms': 16, 'tests': 145, 'devices': 50, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019261'), 'quadkey': 1230231321100322, 'avg_d_kbps': 81507, 'avg_u_kbps': 36989, 'avg_lat_ms': 7, 'tests': 329, 'devices': 75, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019262'), 'quadkey': 313131132333211, 'avg_d_kbps': 88027, 'avg_u_kbps': 14570, 'avg_lat_ms': 15, 'tests': 132, 'devices': 29, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019263'), 'quadkey': 1212011313021021, 'avg_d_kbps': 52635, 'avg_u_kbps': 70367, 'avg_lat_ms': 4, 'tests': 45, 'devices': 11, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019264'), 'quadkey': 1322101132232101, 'avg_d_kbps': 28434, 'avg_u_kbps': 30454, 'avg_lat_ms': 7, 'tests': 2, 'devices': 2, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019265'), 'quadkey': 2110012030231232, 'avg_d_kbps': 31759, 'avg_u_kbps': 26507, 'avg_lat_ms': 8, 'tests': 761, 'devices': 128, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019266'), 'quadkey': 233100032212231, 'avg_d_kbps': 35125, 'avg_u_kbps': 12790, 'avg_lat_ms': 29, 'tests': 332, 'devices': 39, 'year': '2019', 'quarter': 'Q4'}

### Q1

In [1]:
# dbf = Dbf5('/home/yasser/Desktop/mongodb/data/internet_data/2021/Q1/gps_fixed_tiles.dbf')
# df = dbf.to_dataframe()
# df

In [2]:
# df.to_csv('/home/yasser/Desktop/mongodb/data/internet_data/2021/Q1/gps_fixed_tiles.csv')

In [5]:
df = pd.read_csv('/home/yasser/Desktop/mongodb/data/internet_data/2021/Q1/gps_fixed_tiles.csv')
df

                  quadkey  avg_d_kbps  avg_u_kbps  avg_lat_ms  tests  devices
0        3112231211112221       30246       14149          10     49       16
1        1321222320312202      232361      225471           4   1029      260
2         313113232023121       95299       15138          12     96       20
3        1202212030113301      204895       69600           7     40       15
4        1233013312311330       53680       51232           8    758      265
...                   ...         ...         ...         ...    ...      ...
6642745  1323031223133233        1852        1805           5      1        1
6642746   213313333202231       65546       59114          17      1        1
6642747  1321230021332230       66876       19995          14      2        1
6642748  1320331332100310        3969       38681          61      1        1
6642749   320030322103031      211665       11134          21      1        1

[6642750 rows x 6 columns]

In [6]:
df["year"] = "2021"
df["quarter"] = "Q1"
df.head()

,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,year,quarter
0,3112231211112221,30246,14149,10,49,16,2021,Q1
1,1321222320312202,232361,225471,4,1029,260,2021,Q1
2,313113232023121,95299,15138,12,96,20,2021,Q1
3,1202212030113301,204895,69600,7,40,15,2021,Q1
4,1233013312311330,53680,51232,8,758,265,2021,Q1

In [7]:
# show collections

for collection in db.list_collection_names():
    print(collection)

internetData
solarData

In [8]:
records = json.loads(df.T.to_json()).values()

In [9]:
# INSERT DATA

db.internetData.insert_many(records)

In [10]:
# show collections

for collection in db.list_collection_names():
    print(collection)

internetData
solarData

In [11]:
for i in db.internetData.find()[:10]:
    print(i)

{'_id': ObjectId('62cb0b1d23802562df01925d'), 'quadkey': 1233001311211132, 'avg_d_kbps': 1366, 'avg_u_kbps': 2670, 'avg_lat_ms': 148, 'tests': 2, 'devices': 1, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df01925e'), 'quadkey': 302233203001130, 'avg_d_kbps': 66841, 'avg_u_kbps': 14428, 'avg_lat_ms': 16, 'tests': 9, 'devices': 7, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df01925f'), 'quadkey': 1202331003213123, 'avg_d_kbps': 29640, 'avg_u_kbps': 8188, 'avg_lat_ms': 11, 'tests': 73, 'devices': 18, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019260'), 'quadkey': 1202222203310201, 'avg_d_kbps': 87822, 'avg_u_kbps': 72288, 'avg_lat_ms': 16, 'tests': 145, 'devices': 50, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019261'), 'quadkey': 1230231321100322, 'avg_d_kbps': 81507, 'avg_u_kbps': 36989, 'avg_lat_ms': 7, 'tests': 329, 'devices': 75, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019262'), 'quadkey': 313131132333211, 'avg_d_kbps': 88027, 'avg_u_kbps': 14570, 'avg_lat_ms': 15, 'tests': 132, 'devices': 29, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019263'), 'quadkey': 1212011313021021, 'avg_d_kbps': 52635, 'avg_u_kbps': 70367, 'avg_lat_ms': 4, 'tests': 45, 'devices': 11, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019264'), 'quadkey': 1322101132232101, 'avg_d_kbps': 28434, 'avg_u_kbps': 30454, 'avg_lat_ms': 7, 'tests': 2, 'devices': 2, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019265'), 'quadkey': 2110012030231232, 'avg_d_kbps': 31759, 'avg_u_kbps': 26507, 'avg_lat_ms': 8, 'tests': 761, 'devices': 128, 'year': '2019', 'quarter': 'Q4'}
{'_id': ObjectId('62cb0b1d23802562df019266'), 'quadkey': 233100032212231, 'avg_d_kbps': 35125, 'avg_u_kbps': 12790, 'avg_lat_ms': 29, 'tests': 332, 'devices': 39, 'year': '2019', 'quarter': 'Q4'}